@use '@/app/styles/mixins' as mixins;

.page_container {
  @include mixins.flexbox(column, center, center);
  width: 100%;
  height: 100%;
  padding-top: 72px;

  > .page_container_content {
    width: 100%;
    height: 100%;
    max-width: 720px;
  }
}
